# Core
python-telegram-bot==20.6
python-dotenv==1.0.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1

# Text embeddings + clustering
bertopic==0.15.0
sentence-transformers==2.2.2
transformers==4.35.2
huggingface-hub==0.19.4

# PyTorch CPU
torch==2.2.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# Clustering
umap-learn==0.5.5
hdbscan==0.8.33

# Utils
tqdm==4.66.1

# Русский язык
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844

# HTML парсинг
beautifulsoup4==4.12.3
lxml==5.1.0
